.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  div {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;

    .items-created-label {
      color: var(--blue);
    }
    .concluded-label {
      color: var(--purple);
    }
    .number-badge {
      align-self: center;
      color: var(--gray-200);
      background-color: var(--gray-400);
      border-radius: 100%;
      padding: 2px 8px;
    }
  }
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-top: 1px solid var(--gray-400);
}
