.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-container {
  width: 46rem;
  margin-top: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-direction: column;
}

.create-item-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
